@charset "utf-8";

/**
 * --------------------------------
 * reset CSS
 * creator : leejeha
 * --------------------------------
*/
body {background-color:rgba(240, 240, 240, 0.95);}
/* class */
.psRel {position:relative;}
.mgtop {margin-top:40px;}
.lht {line-height:1.5;}
.shadow {box-shadow: 0 4px 6px rgba(0, 0, 0, .20);}
.shadow_white {box-shadow: 2px 3px 9px rgba(255, 255, 255, .5);}
.shadow_gray {box-shadow: 8px 6px 16px rgba(202, 202, 202, 0.3);}
.shadow_deep {box-shadow: 8px 6px 16px rgba(41, 41, 41, 0.75);}

/* font */
.roboto{font-family: 'Roboto', sans-serif;}
.rale {font-family: 'Raleway', sans-serif;}

/* layout */
.wrapper {width:1800px; margin:0 auto;}
.comn_size {width:100%;height:100vh;background-position:center bottom;background-attachment:fixed;overflow:hidden;}


/* 햄버거 버튼 */
.menu_icon {
  height:24px;
  position: absolute;
  top:16px;
  right:20px;
  background:transparent;
  transition:all 1s;
}
.menu_icon.active {
  position: fixed;
  top:50%;
  margin-top:-12px;
}

.allmenu {
  width:28px;
  height:22px;
  position: relative;
  background:transparent;
  cursor: pointer;
}

.allmenu:before {
  content:'';
  display:block;
  width:100%;
  height:3px;
  background:#fff;
  position:absolute;
  top:0;
  transition: all 0.4s ease;
}

.allmenu:after {
  content:'';
  display:block;
  width:100%;
  height:3px;
  background:#fff;
  position:absolute;
  bottom:0;
  transition: all 0.4s ease;
}

.hamBtn {
  display:block;
  width:100%;
  height:3px;
  background:#fff;
  transition: all 0.4s ease;
}

/* lnb */
.lnb {
  /* menu_bg */
  width:100vw;
  height:100vh;
  position: fixed;
  top:0;
  right:-100vw;
  background:rgba(65,65,65, .88);
  color:#fff;
  z-index:20;
  box-sizing: border-box;
  padding:100px 50px; 

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.8s ease;
}
.lnb.show {
  right:0vw;
}

/* list_box : inner */
.list_box {
  padding:30px 50px;
}

/* lnb title */
.list_title {
  display:block;
  font-size:3rem;
  font-weight:500;
  margin-bottom:40px;
}
/* list에 대한 스타일// */
.list_menu li {
  position: relative;
  height:100px;
  margin:0 auto 3px;
  line-height:100px;
  transform: translateY(1.5vw);
  opacity: 0;
  transition: transform .5s, opacity .5s;
}
.list_menu li.active {
  transform: translateY(0vw);
  opacity: 1;
}
.list_menu li a {
  display: block;
  font-size:2rem;
  background:transparent;
  color:#999;
  cursor: pointer;
  transition: all 0.4s ease-in;
  position: relative;
  z-index:11;
}
.list_menu li a:hover,
.list_menu li a.on {
  color:#fff;
}
/* //list에 대한 스타일 */

/* 닫기버튼// */
.lnb .btn_close {
  background:transparent;
  width:1.8em;
  height:1.4em;
  position: absolute;
  top:5%;
  transform: translateY(-50%);
  right:40px;
  cursor: pointer;
}
.lnb .btn_close.active {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.btn_close > img {
  width:100%;
}


/* 헤더 header */
.header_container {
  width:100%;
  position: fixed;
  top:0;
  z-index:9;
  box-sizing: border-box;
}
.main_header {
  display: none;
  position: absolute;
  width:100%;
  height:60px;
  padding-right:68px;
  background-color:rgba(1,1,1,60%);
  transition:all 0.4s ease;
}
.flexbox {
  display:flex;
  flex-wrap: nowrap;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width:100%;
}
.logo {
  display: none;
  width:160px;
  height:60px;
  overflow: hidden;
  line-height: 60px;
  padding-left: 20px;
}
.logo a {
  font-size:2.4rem;
  color:#fff;
  z-index:2;
  transition:color .3s;
}
.navlink ul{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items:center;
  width:100%;
  padding:0 8px;
}
.navlink ul li{
  margin-left:20px;
}
.navlink ul li:first-child{
  margin-left:0;
}

.navlink a {
  color:#fff;
  font-size:1.6rem;
  font-weight:500;
}

/* footer */
.footer {
  display:none;
  width:100%;
  height:auto;
  box-sizing: border-box;
  padding:0 20px 20px;
  background:#555;
  text-align: center;
  color:#f9f9f9;
  font-size:.8em;
  letter-spacing: 0.03em;
  line-height: 1.6;
}
.footer span {
  opacity: .6;
  transition:opacity .5s ease-in;
}
.footer span.reach {
  opacity: 1;
}

/* popup */
.popup {
  width:30vw;
  height:200px;
  text-align: center;
  line-height:1.5;
  background:#f0f0f0;
  border: 1px solid #d1d1d1;
  color:#2e2e2e;
  font-size:1.2rem;
  position: fixed;
  bottom:0;
  right:10px;
  box-sizing: border-box;
  padding:60px 20px;
  
  opacity: 0;
  transition: opacity 1.5s ease;
}
.popup.show {
  opacity: 1;
}
.close_pop {
  background: transparent;
  border:1px solid #999;
  color:#888;
  padding:10px 30px;
  position: absolute;
  bottom:30px;
  right:30px;
  transition: all .5s ease;
}
.close_pop:hover {
  background:#555;
  color:#f9f9f9;
}