@charset "utf-8";

/**
 * --------------------------------
 * common CSS
 * creator : leejeha
 * --------------------------------
*/
/* module pack */
.clr-black{color:#000;}
.clr-gray{color:#999;}
.clr-red{color:#ff0000;}
.mg-top{margin-top:10px;}
.mg-bottom{margin-bottom:10px;}
.pdd-top{padding-top:10px;}
.pdd-bottom{padding-bottom:10px;}
.flex{display:flex;flex-wrap: nowrap;flex-direction:row;justify-content:space-between;align-items:baseline;}

/* font */
.syne{font-family: 'Syne', sans-serif;}

/* layout > wrapper, section-wrap, header, footer, sidebars, lnb*/
.wrapper{
  word-break: keep-all;
}
.section-wrap,
section {
  position:relative;
}
/* header */
.header_container {
  width:100%;
  padding-right:20px;
  padding-left:20px;
  position: fixed;
  top:0;
  left:0;
  z-index:10;
}
.main_header {
  min-width:147rem;
  max-width:147rem;
  height:80px;
  margin:0 auto;
  padding-top:36px;
  padding-bottom:32px;
  border-bottom:0.2rem solid #777;
  transition:all 0.4s ease;
}
.main_header .logo a {
  font-size:1.8rem;
  font-weight:500;
}
.main_header .link-email {
  font-size:1.6rem;
  font-weight:400;
}
/* footer */
.footer {
  width:100%;
  padding:0 20px 30px;
}
.footer p,
.footer .link-wrap a{
  font-size:1.4rem;
}
.footer .link-wrap a{
  margin-left:40px;
  text-decoration:underline;
}

/* module > buttons, thumbnail, listproject, popup */

/* button */
.btn {
  position:relative;
  height:4.2rem;
  line-height:42px;
  padding:0 18px;
  background:#fff;
  color:#555;
  font-size:1.5rem;
  font-weight:400;
  text-align:center;
  vertical-align:middle;
  border:0.1rem solid #ccc;
}
.btn.big {
  max-width:24rem;
  height:5.2rem;
  line-height:52px;
  background:rgba(256,256,256, 30%);
  font-size:1.8rem;
}


/* thumbnail */
.thumb-wrap{
  position:relative;
}
.thumb-box{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  overflow:hidden;
}
.thumb-box img{
  width:100%;
  max-width:100%;
  cursor: pointer;
}

/* project > list */

/* popup */
.poplayer {
  display:none;
  position:fixed;
  top:50%;
  right:0;
  left:50%;
  bottom:0;
  transform:translateX(-50%) translateY(-50%);
  width:680px;
  max-width:680px;
  height:600px;
  text-align:center;
  z-index:100;
}
.poplayer.open {
  display:block;
}
.poplayer .popcont {
  display:flex;
  flex-direction:column;
  max-width:100%;
  max-height:600px;
  background-color:#fff;
  border-radius:12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, .20);
  overflow-y:auto;
}
.poplayer .popcont::-webkit-scrollbar {
  width:2px;
}
.poplayer .popcont::-webkit-scrollbar-thumb {
  background-color:#ccc;
  border-radius:30px;
}
.poplayer .popcont::-webkit-scrollbar-track {
  background-color:#fff;
}
.pop_desc .thumb-box{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  margin-bottom:10px;
  border-top-right-radius:0;
  background-color: #fff;
}
.pop_desc .port_detail {
  width:100%;
  height:auto;
  padding:12px 20px 12px 20px;
  background-color:#fff;
  text-align:left;
}
.pop_desc .port_detail .title{
  margin-bottom: 12px;
  padding-right:22px;
  font-size:2.2rem;
  font-weight:600;
  text-align:left;
}
.pop_desc .port_detail dd {
  font-size: 1.5rem;
  margin-bottom:15px;
}
.pop_desc .port_detail .unit_name{
  margin-bottom:6px;
  color:#333;
  font-weight:500;
}
.pop_desc .port_detail .unit_cont{
  color:#777;
}
.pop_desc .port_detail dd:last-child{
  margin-top:48px;
}
.pop_desc .port_detail dd:last-child .desc{
  line-height:28px;
  font-size:1.7rem;
}
.pop_desc .btn_link{
  margin-top:0;
}
.poplayer .btn_popclose {
  display:block;
  position:absolute;
  right:10px;
  top:10px;
  width:30px;
  height:30px;
  border-radius:50%;
  background:rgba(3,3,3,0.16) url("../img/icon/close.png") no-repeat center / 18px;
}