
@font-face {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/syne/v22/8vIH7w4qzmVxm2NL9Hz_.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Pretendard-Light'; 
    font-style: normal;
    font-weight: 300;
    font-display:swap;
    src: url(/font/Pretendard-Light.woff2) format("woff2");
}
@font-face {
  font-family: 'Pretendard-Medium'; 
    font-style: normal;
    font-weight: 500;
    font-display:swap;
    src: url(/font/Pretendard-Medium.woff2) format("woff2");
}
@font-face {
  font-family: 'Pretendard-ExtraBold'; 
    font-style: normal;
    font-weight: 800;
    font-display:swap;
    src: url(/font/Pretendard-ExtraBold.woff2) format("woff2");
}