@charset "utf-8";

/**
 * --------------------------------
 * reset CSS
 * creator : leejeha
 * --------------------------------
*/
/* main Animation - wave  */





/* pop animation examples */
/* .pop-outin {
  animation: 2s anim-popoutin ease infinite;
}

@keyframes anim-popoutin {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: red;
    transform: scale(2);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: black;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    animate nothing to add pause at the end of animation
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
} */

/* text animation examples */
/* &--perspective
perspective 1000px
.char
  transition transform .25s calc(.25s + var(--char-index) * .1s), opacity .05s calc(.25s + var(--char-index) * .1s)
[data-scroll='out'] .char
  opacity 0
  transform translate3d(-25px, -20px, -800px) */


/* section - listWork */
.list_work{
  width:100%;
  padding-top:200px;
  padding-bottom:200px;
}
.list_work .list_title {
  margin-bottom:46px;
  color:#333;
  font-size:4.4rem;
  font-weight:800;
  text-align:center;
}
.work_container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:baseline;
  width:1400px;
  max-width:1400px;
  margin:0 auto;
  padding-left:20px;
  padding-right:20px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}
.work_container li{
  width:32%;
  margin-left:1%;
  padding-top:40px;
  color:#333;
}

.work_container .thumb_wrap > .thumb_box {
  height:245px;
  margin-bottom:12px;
  border:0.3rem solid #f1f1f1;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
.work_container .thumb_wrap > .thumb_box:hover{
  border:0.3rem solid #333;
}
.thumb_title {
  font-size:2rem;
  font-weight:600;
}
.thumb_wrap .desc{
  margin-top: 8px;
  font-size:1.5rem;
  font-weight:400;
}


@media screen and (min-width:1240px) and (max-width:1505px) {
  /* 팝업 */
  .popup {
    width:40vw;
    height:200px;
    text-align: center;
    line-height:1.5;
    font-size:1.2rem;
    box-sizing: border-box;
    padding:60px 20px;
    letter-spacing: -0.07em;
  }
  .pop_en {
    letter-spacing: -0.01em;
  }

/* list_work */
  .list_work{
    padding:80px 65px 100px;
    transition:all .5s ease-in;
  }

  .work_container {
    box-sizing: border-box;
    padding:80px 20px 0;
    border-radius: 30px;
  }
  .work_box {
    margin-bottom:120px;
  }
  .mockup_images {
    /* 대표이미지 */
    width:50%;
    overflow: hidden;
  }
  .mockup_details {
    /* 상세설명 */
    width:45%;
    /* background:turquoise; */
    position: relative;
    transform:translateY(1vh);
  }
  .work_name {
    font-size:2rem;
  }
  .work_num {
    font-size:2.2rem;
  }
  .pp_container {
    /* 내용 기술 */
    margin:30px 0 20px;
    letter-spacing: -0.03em;
    line-height: 1.2;
  }

  /* 버튼 */
  .portflo_btns {
    position: absolute;
    bottom:2vh;
    right:0;
  }
  .portflo_btns a{
    display: inline-block;
    width:48%;
    height:40px;
    font-size:1.4rem;
    line-height:38px;
  } 

  /* profile */
  .profile {
    box-sizing: border-box;
    padding:60px 50px 5px;
    transition:all .5s ease-in;
  }

}

@media screen and (min-width:1080px) and (max-width:1239px) {
  /* 팝업 popup */
  .popup {
    width:45vw;
    height:200px;
    text-align: center;
    line-height:1.5;
    font-size:1.2rem;
    box-sizing: border-box;
    padding:60px 10px;
    letter-spacing: -0.07em;
  }
  .pop_en {
    letter-spacing: -0.01em;
  }

  .close_pop {
    background: transparent;
    border:1px solid #999;
    color:#888;
    padding:10px 30px;
    position: absolute;
    bottom:30px;
    right:30px;
    transition: all .5s ease;
  }

  /* list_work */
  .list_work {
    box-sizing: border-box;
    padding:60px 40px 120px;
    transition:all .5s ease-in;
  }

  .list_work h3 {
    font-size:3rem;
    margin:30px 0;
  }

  .work_container {
    box-sizing: border-box;
    padding:60px 0;
    border-radius: 30px;
  }

  .work_box {
    margin-bottom:80px;
  }
  .mockup_images {
    /* 대표이미지 */
    width:50%;
    margin:0 8px;
    overflow: hidden;
  }
  .mockup_details {
    /* 상세설명 */
    width:42%;
    /* background:turquoise; */
    position: relative;
    transform:translateY(-0.5vh);
    padding-right:5px;
  }

  .work_name {
    font-size:2rem;
  }
  .work_num {
    font-size:2.2rem;
  }
  .pp_container {
    /* 내용 기술 */
    margin:15px 0 18px;
    letter-spacing: -0.02em;
    line-height: 1.5;
    font-size:0.9rem;
  }
  /* 버튼 */
  .portflo_btns {
    position: absolute;
    bottom:-2vh;
    right:0;
  }
  .portflo_btns a{
    display: inline-block;
    width:48%;
    height:40px;
    font-size:1.4rem;
    line-height:38px;
  } 


}

@media screen and (min-width:600px) and (max-width:1079px) {


  /* 팝업 popup */
  .popup {
    transition: all .5s ease-in;
    display: none;
  }

/* list_work */
  .list_work {
    height:auto;
    padding:80px 30px 80px;
    transition:all .5s ease-in;
  }
  .list_work h3 {
    font-size:2.8rem;
  }
  .work_container > li:last-child .work_box {
    margin-bottom:80px;
  }

  .mockup_images {
    /* 대표이미지 */
    width:100%;
    overflow: hidden;
  }
  .mockup_details {
    /* 상세설명 */
    width:100%;
    position: relative;
  }
  .portflo_btns {
    position: absolute;
    bottom:-10vh;
    right:0;
  }
  .portflo_btns a {
    width:49%;
  }

}

/* @media screen and (max-width:599px) {} */





