@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url(../../styles/fonts/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url(../../styles/fonts/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url(../../styles/fonts/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: url(../../styles/fonts/Pretendard-ExtraBold.woff) format('woff');
}