@font-face {
    font-family: 'T Universe Sans TTF';
    src: url(../../styles/fonts/T-Universe-Sans-TTF/fwt/TUniverseSansTTF-cMd.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'T Universe Sans TTF';
    src: url(../../styles/fonts/T-Universe-Sans-TTF/fwt/TUniverseSansTTF-dBd.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    src: url(../../styles/fonts/Pretendard/Pretendard-Thin.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    src: url(../../styles/fonts/Pretendard/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src: url(../../styles/fonts/Pretendard/Pretendard-Light.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url(../../styles/fonts/Pretendard/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url(../../styles/fonts/Pretendard/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src: url(../../styles/fonts/Pretendard/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url(../../styles/fonts/Pretendard/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: url(../../styles/fonts/Pretendard/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    src: url(../../styles/fonts/Pretendard/Pretendard-Black.woff) format('woff');
}