
// CSS Easing : Quad == GSAP Power1
$power1in: cubic-bezier(0.11, 0, 0.5, 0);
$power1out: cubic-bezier(0.5, 1, 0.89, 1);
$power1inOut: cubic-bezier(0.45, 0, 0.55, 1);

// CSS Easing : Cubic == GSAP Power2
$power2in: cubic-bezier(0.32, 0, 0.67, 0);
$power2out: cubic-bezier(0.33, 1, 0.68, 1);
$power2inOut: cubic-bezier(0.65, 0, 0.35, 1);

// CSS Easing : Quart == GSAP Power3
$power3in: cubic-bezier(0.5, 0, 0.75, 0);
$power3out: cubic-bezier(0.25, 1, 0.5, 1);
$power3inOut: cubic-bezier(0.76, 0, 0.24, 1);

// CSS Easing : Quint == GSAP Power4
$power4in: cubic-bezier(0.64, 0, 0.78, 0);
$power4out: cubic-bezier(0.22, 1, 0.36, 1);
$power4inOut: cubic-bezier(0.83, 0, 0.17, 1);

$main-color-white_01: #ffffff;
$main-color-black_01: #000000;
$main-color-gray_01: #f9f9f9;
$main-color-gray_02: #f6f6f6;
$main-color-gray_03: #a0a0a0;
$main-color-gray_04: #eeeeee;
$main-color-gray_05: #cbcbcb;

$point-color-blue: #3617ce;
$point-color-red: #ff0000;

@mixin pretendard-Title_01 {
    font-family: "Pretendard";
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.5px;
}
@mixin pretendard-Title_02 {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.2px;
}
// @mixin pretendard-Body_03_bold {
//     font-family: "Pretendard";
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 20px;
//     letter-spacing: -1px;
// }
@mixin pretendard-Body_03_med {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
}
@mixin pretendard-Body_04_bold {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;
}
@mixin pretendard-Body_04_med {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1px;
}
@mixin pretendard-Body_04_reg {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;
}
@mixin pretendard-Body_05_reg {
    font-family: "Pretendard";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.5px;
}
// @mixin pretendard-Body_05_stroke {
//     font-family: "Pretendard";
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 14px;
//     letter-spacing: -0.5px;
//     text-decoration: line-through;
// }
@mixin pretendard-Body_05_underline {
    font-family: "Pretendard";
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.5px;
    text-decoration: underline;
}
@mixin flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin hiddenLine($lineNum: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $lineNum;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
@mixin fixed {
    position: fixed;
    width: 100%;
    max-width: var(--maxDeviceWidth);
    left: 0;
    right: 0;
    margin: auto;
}
@mixin ico {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0;
    vertical-align: middle;
}
