html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*	font: inherit;*/
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url(../../styles/fonts/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url(../../styles/fonts/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url(../../styles/fonts/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url(../../styles/fonts/Pretendard-ExtraBold.woff) format("woff");
}
.header {
  position: relative;
  width: 100%;
  max-width: var(--maxDeviceWidth) !important;
  top: 0;
  background-color: #ffffff;
  z-index: 800;
}
.header:after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header .ui-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 18px;
  box-sizing: border-box;
}
.header .ui-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
}
@supports not (inset: 0) {
  .header .ui-wrap > button:not(:first-child) {
    margin-left: 12px;
  }
}
.header button,
.header a {
  position: relative;
  font-size: 0;
  cursor: pointer;
}
.header button .ico,
.header a .ico {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}
.header button.btn-email .ico,
.header a.btn-email .ico {
  background-image: url("../../img/icon/ico_mail_black.svg");
}
.header button.btn-changemode .ico,
.header a.btn-changemode .ico {
  display: none;
}
.header .txt-title {
  max-width: 188px;
  max-height: 20px;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: center;
  overflow: hidden;
}

@keyframes blur {
  from {
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    -webkit-backdrop-filter: blur(20px);
  }
}
.sticky-ui {
  position: fixed;
  width: 100%;
  max-width: var(--maxDeviceWidth);
  left: 0;
  right: 0;
  margin: auto;
  max-width: var(--maxDeviceWidth);
  top: 0;
  z-index: 1000;
}

.fixed-menu {
  position: fixed;
  left: 0;
  top: 40px;
  width: 182px;
  height: calc(var(--vh) - 40px);
}
.fixed-menu:after {
  content: "";
  display: block;
  width: 2px;
  height: 50%;
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
}
.fixed-menu .ico {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
  vertical-align: middle;
}
.fixed-menu.fixed-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fixed-menu.fixed-left .ui-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 18px;
  padding-left: 18px;
}
.fixed-menu.fixed-left .menu-title {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #000000;
}
.fixed-menu.fixed-left .menu-title .ico {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url("../../img/icon/arrow.svg");
}
.fixed-menu.fixed-left .tabs {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.fixed-menu.fixed-left .tabs .tab {
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 22px;
  cursor: pointer;
}
.fixed-menu.fixed-left .btn-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px;
  gap: 50px;
  border-top: 1px solid #eeeeee;
}
.fixed-menu.fixed-left .btn-row .btn-small:first-of-type {
  position: relative;
}
.fixed-menu.fixed-left .btn-row .btn-small:first-of-type::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: -25px;
  width: 1px;
  height: 12px;
  background-color: #a0a0a0;
  opacity: 0.3;
}
.fixed-menu.fixed-left .btn-row .btn-small .ico {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  opacity: 0.5;
}
.fixed-menu.fixed-left .btn-row .btn-small .ico.about {
  background-image: url(../../img/icon/ico_about.svg);
}
.fixed-menu.fixed-left .btn-row .btn-small .ico.changemode {
  background-image: url(../../img/icon/ico_setting.svg);
}

:root {
  --vh: 100vh;
  --maxDeviceWidth: 100vw;
}

.content-wrap {
  position: relative;
  max-width: calc(var(--maxDeviceWidth) - 182px);
  height: calc(var(--vh) - 42px);
  margin-left: auto;
  padding-top: 40px;
}
.content-wrap .cont-home {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.content-wrap .cont-home .title-home {
  font-family: "Pretendard";
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.5px;
  font-size: 92px;
  line-height: 102px;
  color: #000000;
  text-align: center;
  margin-bottom: 32px;
}
.content-wrap .cont-home .title-home + .txt-title {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #000000;
  text-align: center;
}
.content-wrap .cont-home .btn-row {
  margin-top: 40px;
  max-width: calc(100% - 240px);
}
.content-wrap .cont-home .bottom-txt {
  font-family: "Pretendard";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.5px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.btn-main {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: calc(100% - 30px);
  padding: 10px 14px;
  margin: 0 auto;
  background-color: #a0a0a0;
  transform: scale(1);
  transition: transform 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  overflow: hidden;
}
.btn-main.bg-black {
  background-color: #000000;
  border: 1px solid #000000;
}
.btn-main.bg-black-reverse {
  background-color: #ffffff;
  border: 1px solid #000000;
}
.btn-main.bg-black-reverse span {
  color: #000000;
}
.btn-main span {
  color: #ffffff;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  text-align: center;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.btn-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 40px);
}
.btn-row a, .btn-row button {
  flex: 1;
}/*# sourceMappingURL=common.css.map */