@charset "utf-8";

/**
 * --------------------------------
 * reset CSS
 * creator : leejeha
 * --------------------------------
*/

/* class */
.mgtop {margin-top:40px;}
.lht {line-height:1.5;}
.shadow {box-shadow: 0 4px 6px rgba(0, 0, 0, .20);}
.shadow_white {box-shadow: 2px 3px 9px rgba(255, 255, 255, .5);}
.shadow_gray {box-shadow: 8px 6px 16px rgba(202, 202, 202, 0.3);}

/* font */
.syne{font-family: 'Syne', sans-serif;}

/* button */
/* .btn_link{
  position:absolute;
  bottom:0;
  right:0;
  height:4rem;
  line-height:40px;
  padding:0 12px;
  background-color:#777;
  color:#fff;
  border:0.1rem solid #777;
  font-size:1.4rem;
  font-weight:500;
  border-radius:30px;
  z-index:9;
} */
.btn_link{
  position:relative;
  margin-top:12px;
  min-width:8.5rem;
  height:3.6rem;
  padding-right:6px;
  padding-left:6px;
  line-height:36px;
  background-color:#f1f1f1;
  color:#999;
  font-size:1.4rem;
  text-align:center;
  transition:all 0.4s ease;
  z-index: 1;
}
.btn_link::before{
  content:'';
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
  width:0%;
  height:100%;
  background-color:#fff;
  font-size:0;
  opacity:0;
  transition:all 0.5s ease;
  z-index:-1;
}
.btn_link:after{
  content:'';
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:0;
  width:0%;
  height:2px;
  background-color:#3e3e3e;
  transition:all 0.7s ease;
  z-index:-1;

}
.btn_link:hover{
  color:#3e3e3e;
}
.btn_link:hover:before{
  width:102%;
  opacity:1;
  transition:all 0.5s cubic-bezier(0.54, 0.17, 0.12, 1);
}
.btn_link:hover:after{
  width:20%;
}

/* layout */
.wrapper {
  width:100%;
  min-width:1302px;
  margin:0 auto;
  background-color:rgb(250, 245, 231);
  color:#3e3e3e;
}
.comn_size {
  width:100%;
  height:100vh;
  background-position:center bottom;
  background-attachment:fixed;
  overflow:hidden;
}
.section_container {
  position:relative;
  width:1302px;
  max-width:1302px;
  margin:0 auto;
}
.flexbox {
  display:flex;
  flex-wrap: nowrap;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width:100%;
}
.flex_col {
  display:flex;
  flex-wrap: nowrap;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

/* 햄버거 버튼 */
.menu_icon {
  position: relative;
  width:40px;
  height:60px;
  margin-left:32px;
  transition:all 1s;
}
.allmenu {
  position: relative;
  width:100%;
  background:transparent;
  cursor: pointer;
}
.allmenu .line{
  display:block;
  width:100%;
  height:0.1rem;
  background-color:#2e2e2e;
  margin-top:10px;
}
.allmenu .line:first-child{
  margin-top:0;
}

/* lnb */
.lnb {
  /* menu_bg */
  width:100vw;
  height:100vh;
  position: fixed;
  top:0;
  right:-100vw;
  background:rgba(65,65,65, .88);
  color:#fff;
  z-index:20;
  box-sizing: border-box;
  padding:100px 50px; 

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.8s ease;
}
.lnb.show {
  right:0vw;
}

/* list_box : inner */
.list_box {
  padding:30px 50px;
}

/* lnb title */
.list_title {
  display:block;
  font-size:3rem;
  font-weight:500;
  margin-bottom:40px;
}
/* list에 대한 스타일// */
.list_menu li {
  position: relative;
  height:100px;
  margin:0 auto 3px;
  line-height:100px;
  transform: translateY(1.5vw);
  opacity: 0;
  transition: transform .5s, opacity .5s;
}
.list_menu li.active {
  transform: translateY(0vw);
  opacity: 1;
}
.list_menu li a {
  display: block;
  font-size:2rem;
  background:transparent;
  color:#999;
  cursor: pointer;
  transition: all 0.4s ease-in;
  position: relative;
  z-index:11;
}
.list_menu li a:hover,
.list_menu li a.on {
  color:#2E2E2E;
}
/* //list에 대한 스타일 */

/* 닫기버튼// */
.lnb .btn_close {
  background:transparent;
  width:1.8em;
  height:1.4em;
  position: absolute;
  top:5%;
  transform: translateY(-50%);
  right:40px;
  cursor: pointer;
}
.lnb .btn_close.active {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.btn_close > img {
  width:100%;
}

/* thumbnail */
.thumb_wrap{
  position:relative;
}
.thumb_box{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  overflow:hidden;
}
.thumb_box img{
  width:100%;
  max-width:100%;
  cursor: pointer;
}

/* 헤더 header */
.header_container {
  width:100%;
  min-width:1302px;
  box-sizing: border-box;
}
.main_header {
  width:1302px;
  height:60px;
  margin:0 auto;
  padding:0 40px;
  border-bottom:0.1rem solid #777;
  transition:all 0.4s ease;
}
.logo {
  position:relative;
  width:13rem;
  border-right:0.1rem solid #777;
  overflow: hidden;
}
.logo a {
  display:block;
  height:60px;
  line-height:60px;
  font-size:1.8rem;
  color:#2E2E2E;
  z-index:2;
  transition:color .3s;
}
.navlink {
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items:center;
  width:calc(100% - 130px);
}
.navlink ul{ 
  display:flex;
  justify-content:flex-end;
  align-items:center;
  height:60px;
  border-right:0.1rem solid #777;
}
.navlink ul li{
  padding-right:32px;
}
/* .navlink ul li:last-child{
  padding-right:0;
} */
.navlink a {
  color:#2E2E2E;
  font-size:1.4rem;
  font-weight:500;
}

/* footer */
.footer {
  display:none;
  width:100%;
  height:auto;
  box-sizing: border-box;
  padding:0 20px 20px;
  background:#555;
  text-align: center;
  color:#f9f9f9;
  font-size:.8em;
  letter-spacing: 0.03em;
  line-height: 1.6;
}
.footer span {
  opacity: .6;
  transition:opacity .5s ease-in;
}
.footer span.reach {
  opacity: 1;
}

/* popup poplayer */
.poplayer {
  display:none;
  position:fixed;
  top:50%;
  right:0;
  left:50%;
  bottom:0;
  transform:translateX(-50%) translateY(-50%);
  width:680px;
  max-width:680px;
  height:600px;
  text-align:center;
  z-index:100;
}
.poplayer.open {
  display:block;
}
.poplayer .popcont {
  display:flex;
  flex-direction:column;
  max-width:100%;
  max-height:600px;
  background-color:#fff;
  border-radius:12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, .20);
  overflow-y:auto;
}
.poplayer .popcont::-webkit-scrollbar {
  width:2px;
}
.poplayer .popcont::-webkit-scrollbar-thumb {
  background-color:#ccc;
  border-radius:30px;
}
.poplayer .popcont::-webkit-scrollbar-track {
  background-color:#fff;
}
.pop_desc .thumb_box{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  margin-bottom:10px;
  border-top-right-radius:0;
  background-color: #fff;
}

.pop_desc .port_detail {
  width:100%;
  height:auto;
  padding:12px 20px 12px 20px;
  background-color:#fff;
  text-align:left;
}
.pop_desc .port_detail .title{
  margin-bottom: 12px;
  padding-right:22px;
  font-size:2.2rem;
  font-weight:600;
  text-align:left;
}
.pop_desc .port_detail dd {
  font-size: 1.5rem;
  margin-bottom:15px;
}
.pop_desc .port_detail .unit_name{
  margin-bottom:6px;
  color:#333;
  font-weight:500;
}
.pop_desc .port_detail .unit_cont{
  color:#777;
}
.pop_desc .port_detail dd:last-child{
  margin-top:48px;
}
.pop_desc .port_detail dd:last-child .desc{
  line-height:28px;
  font-size:1.7rem;
}
/* .pop_desc .port_detail dd *{
  display:inline-block;
} */
.pop_desc .btn_link{
  margin-top:0;
}
.poplayer .btn_popclose {
  display:block;
  position:absolute;
  right:10px;
  top:10px;
  width:30px;
  height:30px;
  border-radius:50%;
  background:rgba(3,3,3,0.16) url("../img/icon/close.png") no-repeat center / 18px;
}